body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
}

h1 {
    width: 100%;
}

main {
    width: 100%;
    max-width: 856px;
    padding: 0 16px;
    flex-wrap: wrap;
    display: flex;
    gap: 40px 32px;
}

article {
    display: flex;
    flex-direction: column;
    width: calc(50% - 16px);
}

article img {
    margin-bottom: 8px;
    aspect-ratio: 16 / 9;
    box-shadow:0 0 0 1px #aaa inset;
}

article a {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

@media screen and (max-width:664px) {
    main {
        max-width: 576px;
    }
    article {
        width: 100%;
    }
}


footer {
    padding: 24px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0;
}

article .title {
    display: flex;
    gap: 2px;
}

article h3 {
    opacity: 0.6;
    font-size: 14px;
}

article h3::before {
    content: "ãƒ»";
}